.main{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
}

#shifra{
  height: 65%;
}

span{
  font-size: 1.4vmax;
  background:linear-gradient(to right, rgb(132, 244, 246) , rgb(237, 4, 125));
  background-clip:text;
  color: transparent;
  text-align: center;
}

button{
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 20px;
  border-radius: 25px;
  border: none;
  background: rgb(59, 233, 236);
  box-shadow: 2px 2px 50px rgb(9, 242, 246);
  cursor: pointer;
}

#speak{
  width: 100px;
}

p{
  font-size: 1.3vmax;
  color: aliceblue;
  text-align: center;
  padding: 0px 40px;
}

.response{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

#aigif{
  width: 50vh;
  height: 100px;
}

